* {
    box-sizing: border-box;
    }
  
    .app-div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .header {
      height: 100px;
      width: 100vw;
      background-color: #2aabe2;
    }
  
    .home {
      margin-left: 100px;
      margin-top: 30px;
    }
  
    .body {
      height: 650px;
      width: 100vw;
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .card {
      height: 450px;
      width: 80vw;
      background-color: lightgray;
      display: flex;
      flex-direction: row;
      align-items: center; 
     }
  
    .users {
      margin-left: 100px;
    }
  
    .counter {
      margin-left: 625px;
      margin-bottom: 420px;
    }
  
    .allButtons {
    margin-top: 10px ;
    display: flex;
    flex-direction: row;
    }
  
    .derp {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      width: 300px;
    }
  
    .noClick {
     padding: 10px;
      border-radius: 30%;
      background-color: skyblue;
      font-size: 15px;
      font-weight: bold;
      color: white;
      border: black;
    }
  
    